body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
ol, ul,li {
	list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

header {
    position: fixed;
    top:0;left:0;right:0;bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 1.825rem 0;

    z-index: 100;
    height: 24px;

    background-color: transparent;
    /* color: white; */
}

.logo{
    font-size: 1.25rem;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 5rem;
}
.menu .item {
    margin: 0.5rem;
}

.item {
    font-size: 0.825rem;
}

.lk {
    font-size: .825rem;
    margin:0px;
    padding: 0;
}

.submenu {
    display: flex;
    flex-direction: column;
}